@media (max-width: map-get($breakpoints, "lg")) {
    .info__list{
        justify-content:initial;
        gap: 24px;
        flex-wrap: nowrap;
    }
}

@media (max-width: map-get($breakpoints, "md")) {
    .dashboard__chart{
        width: auto !important;
        height: 343px !important;
        align-items: center;
    }
    .chart__group{
        flex-direction: column;
        width: auto !important;
        gap: 0px;
    }
    .chart__label{
       font-size: 18px;
    }
    .dashboard__chart_dashboard-info{
        width: 100%;
    }
    .info__list-item{
        width: 100%;
    }
    .info__list{
        display: flex;
        justify-content: space-between;
        gap: 24px 0px;
        flex-wrap: wrap;
    }
}
