@media (max-width: map-get($breakpoints, "md")) {
   
    .form_row{
        flex-direction: column;
        gap: 24px;
    }
    .form_col{
        margin-right: 0px;
        position: relative;
    }
    .input-group{
        width: 100%;
        gap: 24px;
    }
    .input-group_absolute{
        gap: 30px;
    }
    .input-group>.form-control{
        width: 100%;
    }
    .btn_wide{
        margin: 0px !important;
        width: 100%;
    }
    .form__prompt_absolute{
        position: absolute;
        top: 70px;
    }
    .form__group_row{
        flex-direction: column;
    }
    .input-group_wide{
        flex: initial;
    }
    .form__groups{
        gap: 0px;
    }
    .input-group_filter{
        gap: 16px;
    }
    .form__groups_adaptive input{
        width: 50% !important;
    }
    .form__groups_adaptive_secondary input{
        width: 20% !important;
    }
    .form__groups_adaptive .input-group{
        gap: 10px
    }
    .form__group_top-row-left{
        align-items: center;
    }
    .form_row-switch{
        flex-direction: row;
        gap: 10px;
    }
    .form_col_action_payment{
        position: absolute;
        right: 0;
        top: 80px;
    }
    .credit-card__image{
        top: calc(4%);
    }
    .input-group__add_payment{
        gap: 15px;
    }
    .title-header_adaptive{
        flex-direction: column;
    }
    .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        margin: 0px !important;
    }
    .form__prompt_reward_switch{
        width: 237px;
    }
    .form_row_reward_switch{
        flex-direction: row;
        gap: 0px;
    }
}