@media (max-width: map-get($breakpoints, "lg")) {
    .header-right__user_avatar{
        display: none;
    }
    .devider{
        display: none;
    }
    .header-right__more, .menu-burger, .menu-close{
        display: block;
    }
    .header{
        padding: 10px 16px;
        position: fixed;
        z-index: 100000;
        top: -1px;
        width: 100vw;
    }
    .menu-burger, .menu-close{
        cursor: pointer;
    }
    .logo{
        width: 169px;
    }
    .header-right{
        gap: 0px;
    }
}
