@media (max-width: map-get($breakpoints, "md")) {
    .search-input_rewards{
        width: 100%;
    }
    .info__list_rewards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .modal__info-rewards{
        width: 100vw;
    }
   
}
