.info__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px 5px;
    flex-wrap: wrap;
}

.info__list-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
    width: 336px;
    padding: 20.5px 20px;
    border-radius: 20px;
    align-items: center;
    margin: 0px;
    color: map-get($theme-colors, "back");
    font-weight: 700;
}
@media (max-width: 720px) {
    .info__list-item {
        width: 100%;
    }
}

.info__list-item_white {
    background-color: #fff;
    border: 1px solid rgba(232, 235, 237, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

// .info__list-item_blue {
//     background: rgba(83, 136, 216, 1);
//     color: map-get($theme-colors, "white");
// }

// .info__list-item_light-blue {
//     background: rgba(0, 207, 232, 1);
//     color: map-get($theme-colors, "primary");
// }

// .info__list-item_dark-blue {
//     background:rgba(27, 40, 80, 1);
//     color: map-get($theme-colors, "white");
// }


.info__content-amount {
    font-size: map-get($theme-fontSize, "xLgTitle");
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.info__content-desc{
    font-size: map-get($theme-fontSize, "primary");
    line-height: 21px;
    font-weight: 400;
}
.info__content_left{
    display: flex;
    flex-direction: column;
}
.info__content-amount-info{
    display: flex;
    align-items: center;
    gap: 6px;
}
.info__content-amount-info_new{
    gap: 16px;
}
.info__content-mint {
    cursor: pointer;
    font-weight: 700;
    font-size: map-get($theme-fontSize, "preLgTitile");
    color: map-get($theme-colors, "green");
    text-decoration: none;
}
.info__content-mint_medium{
    font-weight: 500;
}
.info__content-dymanic{
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: map-get($theme-fontSize, "primary");
    border-radius: 5px;
    padding: 2px 10px;
}
.info__content-dymanic_positive{
    background-color: map-get($theme-colors, "green");
    background-image: url('../../media/common/arrow_drop_up.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 10px;
    padding-left: 30px;

    color: map-get($theme-colors, "white");
}