header {
    display: flex;
    background: #707070;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.header-left {
    margin-left: 10px;
}

.header-right {
    display: flex;    
    align-items: center;
}

.header-right div {
    margin-right: 10px;
}
