.input-image {
    display: block;
    flex: 1;
    height: 80px;
    border: 2px solid #6C757D;
}

.input-image-button {
    position: absolute;
    margin: auto;
    top: 35%;
    right: 0;
    bottom: 0%;
    left: 0;
    text-align: center;
    border-radius: 3px;
}

.nft__collection-name{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nft__collection-name img {
    width: 50px;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}
.website-icon, .instagram-icon, .telegram-icon, 
.medium-icon, .facebook-icon, .discord-icon,
.other-icon{
    position: absolute;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
    height: 38px;
    top: 32px;
    left: 0px;
}
.instagram-icon, .facebook-icon, .telegram-icon, 
.medium-icon, .other-icon,
.discord-icon, iscord-icon{
    top: 0px; 
}

.facebook-icon, .discord-icon, .other-icon{
    right: 0px
}