.list-group-flush {
    padding-top: 10px;
}

.user-custom-params {
    display: flex;
    margin-bottom: 10px;
    gap: 12px;
    justify-content: end;
}

.modal-newuser__title{
    line-height: 27px;
    font-weight: 700;
    font-size: map-get($theme-fontSize, "smTitile");
    color: map-get($theme-colors, "primary");
}