.list-group-flush {
    padding-top: 10px;
}

.user-custom-params {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.users-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}