.btn_orange{
    background: map-get($theme-colors, "warning");
    color: map-get($theme-colors, "white");
    &:hover{
        background: map-get($theme-colors, "hoverWarning");
        color: map-get($theme-colors, "white");
    }
}

.btn_gray{
    background: map-get($theme-colors, "back");
    color: map-get($theme-colors, "white");
}

.btn_gray:hover{
    background-color: rgba(99, 115, 129, 0.7) !important;
    color: map-get($theme-colors, "white");
}

.btn_primary{
    border-radius: 4px !important;
    font-weight: 700;
    line-height: 21px;
    font-size: map-get($theme-fontSize, "primary");
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_secondary{
    border-radius: 4px;
    font-weight: 700;
    line-height: 21px;
    font-size: map-get($theme-fontSize, "primary");
    width: 90px;
}

.btn__counter{
    width: 37px;
    height: 36px;
}

.btn__copy, .btn__reset{
    width: 62px;
    height: 38px;
}

.btn__add-form{
    width: 70px;
    height: 36px;
}

.btn_rounded{
    border-radius: 50px;
    padding: 10px 42.52px 12px 41.48px;
}

.btn_pre-sm {
    height: 51px;
    padding: 15px 36.3px 15px 36.7px;
}
.btn_sm{
    font-weight: 600;
    padding: 10px 42.52px 12px 41.48px;
    font-size: map-get($theme-fontSize, "smTitile");
    line-height: 27px;
}

.btn_disabled{
    cursor: not-allowed !important;
    background: map-get($theme-colors, "disabled") !important;   
    color: map-get($theme-colors, "white") !important;
    &:hover{
        background: map-get($theme-colors, "disabled") !important;
        color: map-get($theme-colors, "white") !important;
    }
}

.close__image{
    width: 20px;
}
.filter__image{
    cursor: pointer;
   
    height: 100%;
}

.btn_image{
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}