.table-wrap{
    background: map-get($theme-colors, "white");
    padding: 24px 23px 0px;
    border: 2px solid rgba(232, 235, 237, 1);
    border-radius: 20px;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.table{
    font-size: map-get($theme-fontSize, "primary");
    line-height: 21px;
    font-weight: 500;
    border-collapse:collapse !important;
}

.table__head{
    background: rgba(255, 243, 231, 1);
    font-weight: 600;
    height: 41px;
}

.table>:not(caption)>*>*{
    border: none;
    vertical-align: middle;
    padding: .5rem 24px;
}

.table__body tr:nth-child(even) {
    background: rgba(255, 243, 231, 1);
}

.tokens-list__item{
    margin: 0px;
}
