.auth{
    display: flex;
    justify-content: center;
    padding: 48px;
    border: 2px solid map-get($theme-colors, "text");
    border-radius: 20px;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    background: map-get($theme-colors, "white");
}

.auth__form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    font-family: "HelveticaNeueCyr";
    z-index: 100;
}

.auth__form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__form-title{
    font-family: "HelveticaNeueCyr";
    font-size: map-get($theme-fontSize, "mdTitile");
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 45.51px;
    font-weight: 700;
    margin-bottom: 16px;
}

.auth__form-subtitle{
    font-size: map-get($theme-fontSize, "subtitle");
    line-height: 24.78px;
    text-align: center;
}
.auth__form-subtitle_forgot_warning{
    color: map-get($theme-colors, "warning");   
    cursor: pointer;
    font-weight: 600;
}

.auth__form-subtitle_forgot{
    width: 402px;
}

.auth__form-fields{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.auth__form-fields ::placeholder {
    color: map-get($theme-colors, "text");

}

.auth__form-fields-label {
    font-weight: 500;
    font-size: map-get($theme-fontSize, "secondary");
    font-family: "HelveticaNeueCyr";
    color: map-get($theme-colors, "primary");
    margin-bottom: 14px;
}

.auth__form-fields-input{
    border-color: rgba(206, 212, 218, 1) !important;
    color: map-get($theme-colors, "primary");
    height: 43px;
}

.auth__form-fields-input_error{
    border-color: map-get($theme-colors, "errorPrimary") !important;
}

.auth__form-forgotpassword{
    font-weight: 500;
    color: map-get($theme-colors, "warning");
    font-size: map-get($theme-fontSize, "subtitle");
    text-decoration: none;
    cursor: pointer;
    //width: 145px;
}

.auth__form-forgotpassword:hover{
    color: map-get($theme-colors, "hoverWarning") !important;
}

.auth__form-action{
    display: flex;
    flex-direction: column;
    gap: 20.26px
}
.auth__form-action-btn.auth__form-action-btn_update {
    padding-top: 12px;
    padding-bottom: 12px;
}
.reset_auth__form-action {
    gap: 5px;
}
.auth__form-action-btn{
    font-family: "HelveticaNeueCyr";
    font-weight: 500;
    background-color: map-get($theme-colors, "warning") !important;
    border: none;
    font-size: map-get($theme-fontSize, "preMdTitile");
    line-height: 30.34px;
}


// Added some special classes for updated reset screen elements, because idk if we need changing style on other ones

.auth__form-action-group-btn .auth__form-action-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}

.auth__form-action-btn.auth__form-action-btn__update_sign_in {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.reset_auth__form-action .auth__form-action-btn {
    padding-top: 12px;
    padding-bottom: 12px;
}

.reset_auth__form-action .auth__form-action-btn_reset_back:hover{
    background-color: #fff !important;
    color: map-get($theme-colors, "text");
    opacity: 80%;
}

.auth-logo__update {
    display: none;
}

.auth__form-action-btn:hover{
    background-color: map-get($theme-colors, "hoverWarning") !important; 
}


.auth__form-action-btn_back {
    background-color: map-get($theme-colors, "back") !important;
}

.auth__form-action-btn_back:hover {
    background-color: map-get($theme-colors, "hoverBack") !important;
}

.auth__form-action-btn_disabled{
    background-color: map-get($theme-colors, "disabled") !important; 
    cursor: not-allowed;
}

.auth__form-action-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__form-action-group-btn{
    display: flex;
    gap: 16px;
}

.form__signin{
    position: relative;
}

.form__signin-icon-email, .form__signin-icon-password{
    position: absolute;
    top: 66%;
    right: 1rem;
    cursor: pointer;
}

.form__signin-icon-password_error, .form__signin-icon-email_error{
    top: 51%
}

.form__signin-icon-company {
    position: absolute;
    top: 63%;
    right: 10px;
}

.form__signin-icon-representative {
    position: absolute;
    top: 62%;
    right: 15px;
}
